.container {
    padding: 3rem;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("../content/columns2.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: var(--max-width);
}