.container {
  padding: 3rem;
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(26, 26, 26, 0.95),
      rgba(26, 26, 26, 0.95)
    ),
    url("../content/head3.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: var(--max-width);
}
